$desktop-screen: 1200px;
$tablet-screen: 990px;
$mobile-screen: 767px;
$small-mobile-screen: 567px;

$primary-color: #393E46;
$secondary-color: #6D9886;
$background-color: #F7F7F7;
$footer-background-color: #252525;
$sub-background-color: #F2E7D5;
$default-text-color: #fff;
$second-text-color: #d3d3d3;
