@import '../../../styles/default.scss';

#footer-container {
  margin: 0;
  padding: 0;
  min-height: 300px;
  height: auto;
  color: $second-text-color;
  background-color: $primary-color;
  width: 100%;
  display: flex;

  // css common
  ul {
    margin: 0;
    padding: 0;
    .title {
      color: $default-text-color;
    }
    
    li {
      list-style: none;
      margin: 10px 0;
  
      a {
        color: $second-text-color;
  
        &:hover {
          color: $secondary-color;
          text-decoration: underline;
        }
      }
    }
  }

  .social-contacts  {
    padding: 20px;
    .section-logo {
      display: flex;
      align-items: center;

      .logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      .company-name {
        font-size: 80px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 4s linear infinite;
        
        @keyframes textclip {
          to {
            background-position: 200% center;
          }
        }
      }
    }
  }
  
  .services {
    padding: 25px 20px;
  }

  .products {
    padding: 25px 20px;
  }

  .address {
    padding: 25px 20px;

    .social-logo {
      display: flex;
      justify-content: space-between;

      // css common
      [class~="anticon"] {
        font-size: 30px;
        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          color: $secondary-color;
          transform: scale(1.2);
        }
      }
    }
  }
}

.declare {
  text-align: center;
  .author-name {
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }
  }
}

@media screen and (max-width: $small-mobile-screen) {
  #footer-container {
    .social-contacts {
      .section-logo {
        .logo {
          width: 70px;
          height: 70px;
        }

        .company-name {
          font-size: 50px;
        }
      }
    }

    .services {
      padding: 0 20px;
    }

    .products {
      padding: 0 20px;
    }

    .address {
      padding: 0 20px;
    }
  }
}