@import 'styles/globals.scss';

#header-container {
  width: 100%;
  margin: 0;
  background-color: $primary-color;
  height: 60px;
  display: flex;
  z-index: 1;
  padding: 0 20px;

  .left-content {
    height: 100%;
    width: 30%;
    display: flex;
    img {
      width: auto;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }

  .right-content {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }
}