@import '../../../styles/globals.scss';

.product-card {
	height: 500px;
	padding: 5px;
	transform: scale(0.9);
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1);
	}
	
	.section-image {
		height: 50%;
		width: 100%;

		img {
			height: 100%;
			width: 100%;
		}
	}
}